.TestBoard {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
}

.notAFullScreen {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    align-content: center;
}

.notAFullScreen p {
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.notAFullScreen button {
    color: white;
    border: solid 1px gray;
    border-radius: 8px;
    background-color: green;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}